<!DOCTYPE>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Note: This is an automated message</h1>

        <p><%=@body%></p>

        <p>-Alpha Omega</p>
    </body>
</html>